/* Estilos para el contenedor principal */
.color-generator-container {
    text-align: center; 
    margin-right: 100px;
    margin-top: 100px;
    padding: 20px; 
  }
  
  /* Estilos para el cuadrado */
  .color-square {
    width: 200px;
    height: 200px;
    border-radius: 10px; 
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para el botón */
  .color-button {
    padding: 10px 20px; 
    font-size: 18px;
    background-color: #007bff;
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .color-button:hover {
    background-color: #0056b3;
  }
  