.navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #222; /* Color de fondo */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 60px; /* Espacio para evitar que el contenido se superponga al navbar */
    

  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    margin-bottom: 15px; /* Espacio entre elementos */
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff; /* Color del texto */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease; /* Transición suave para los efectos */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    border-bottom: 2px solid transparent; /* Borde inferior transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */

  }
  
  .navbar ul li a:hover,
.navbar ul li a.active {
  border-color: #ff6600; /* Color del borde al pasar el mouse o activo */
}
  
  .navbar ul li a:hover {
    color: #ff6600; /* Color del texto al pasar el mouse */
    background-color: #444; /* Color de fondo al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
  }
  